<style type='text/css'>
  body {
    font-family: "IPAGothic";
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
    font-size: 14px;
  }
  th, td {
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    border: solid 1px silver;
    padding: 0.5em;
  }
  th {
    border-bottom: solid 1px;
  }
  .page {
    font-family: "IPAexGothic";
    font-size: 10px;
    padding-top: 30px;
    page-break-after: always;
  }
  .text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -6px;
  }
  .group-td {
    border: none;
  }
</style>

<% @groups.each do |group| %>
  <div class="page">
    <!--参加団体名-->
    <table>
      <tr>
        <td class="group-td" width="20%">団体ID: <%= group.id %></td>
        <td class="group-td" style="font-weight: bold; font-size: 24px;">
          <%= group.name %>
        </td>
        <td class="group-td" width="20%"></td>
      </tr>
    </table>
    <hr>
    <% category_name = group.group_category.name_ja %>
    <p class="text">参加形式: <%= category_name %></p>
    <!--企画名-->
    <% project_name = GroupProjectName.find_by(group_id: group.id) %>
    <p class="text">企画名: <%= project_name.present? ? project_name.project_name : 'なし' %></p>
    <!--場所-->
    <% assign_group_place = AssignGroupPlace.find_by_group(group.id).first %>
    <p class="text">場所: <%= assign_group_place.present? ? assign_group_place.place : 'なし' %></p>
    <!--代表者-->
    <% user_detail = UserDetail.find_by(user: group.user) %>
    <p class="text">代表者: <%= user_detail.name_ja %> / <%= group.user.email %> / <%= user_detail.tel %></p>
    <!--副代表-->
    <% sub_rep = SubRep.find_by(group: group) %>
    <p class="text">副代表: <%= sub_rep.name_ja %> / <%= sub_rep.email %> / <%= sub_rep.tel %></p>
    <br>

    <!--貸出物品-->
    <h2 align="center">貸出物品</h2>
    <% rental_orders = RentalOrder.where(group: group) %>
    <table align="center">
      <tr>
        <th width="30%">名称</th>
        <th>借用場所</th>
        <th width="15%">個数</th>
      </tr>
      <% rental_orders.each do |rental_order| %>
        <% assign_rental_items = AssignRentalItem.where(rental_order: rental_order) %>
        <% assign_rental_items.each do |assign_rental_item| %>
          <% if assign_rental_item.present? and assign_rental_item.num > 0 %>
            <tr>
              <td><%= assign_rental_item.rentable_item.stocker_item.rental_item.name_ja %></td>
              <td><%= assign_rental_item.rentable_item.stocker_place.name %></td>
              <td><%= assign_rental_item.num %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
    <br>

    <!--使用電力-->
    <h2 align="center">使用電力</h2>
    <% power_orders = PowerOrder.where(group: group) %>
    <table align="center">
      <tr>
        <th width="30%">名称</th>
        <th>メーカー / 型番</th>
        <th width="15%">電力[W]</th>
      </tr>
      <% power_orders.each do |power_order| %>
        <tr>
          <td><%= power_order.item %></td>
          <td><%= power_order.manufacturer %> / <%= power_order.model %></td>
          <td><%= power_order.power %></td>
        </tr>
      <% end %>
    </table>
    <br>
  </div>
<% end %>