<%- model_class = StageOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render partial: 'shared/warning_stage_order' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:group_name) %></th>
      <th><%= model_class.human_attribute_name(:fes_date_id) %></th>
      <th><%= model_class.human_attribute_name(:is_sunny) %></th>

      <th><%= model_class.human_attribute_name(:use_time_interval) %></th>
      <th><%= model_class.human_attribute_name(:prepare_time_interval) %></th>
      <th><%= model_class.human_attribute_name(:cleanup_time_interval) %></th>
      <th><%= model_class.human_attribute_name(:prepare_start_time) %></th>
      <th><%= model_class.human_attribute_name(:performance_start_time) %></th>
      <th><%= model_class.human_attribute_name(:performance_end_time) %></th>
      <th><%= model_class.human_attribute_name(:cleanup_end_time) %></th>

      <th><%= model_class.human_attribute_name(:stage_first) %></th>
      <th><%= model_class.human_attribute_name(:stage_second) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stage_orders.each do |stage_order| %>
      <tr>
        <td><%= stage_order.group.name %></td>
        <td><%= stage_order.date %></td>
        <td><%= stage_order.tenki %></td>

        <td><%= stage_order.use_time_interval.empty? ? "未回答" : stage_order.use_time_interval %></td>
        <td><%= stage_order.prepare_time_interval.empty? ? "未回答" : stage_order.prepare_time_interval %></td>
        <td><%= stage_order.cleanup_time_interval.empty? ? "未回答" : stage_order.cleanup_time_interval %></td>
        <th><%= stage_order.prepare_start_time.empty? ? "未回答" : stage_order.prepare_start_time %></td>
        <th><%= stage_order.performance_start_time.empty? ? "未回答" : stage_order.performance_start_time %></td>
        <th><%= stage_order.performance_end_time.empty? ? "未回答" : stage_order.performance_end_time %></td>
        <th><%= stage_order.cleanup_end_time.empty? ? "未回答" : stage_order.cleanup_end_time %></td>

        <td><%= stage_order.stage_first ? stage_order.kibou1 : "未回答" %></td>
        <td><%= stage_order.stage_second ? stage_order.kibou2 : "未回答" %></td>
        <td>
          <%= show_edit_botton(edit_stage_order_path(stage_order), stage_order) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              welcome_index_path, :class => 'btn btn-default'  %>
