<%- model_class = StageOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:group_name) %>:</strong></dt>
  <dd><%= @stage_order.group.name%></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_sunny) %>:</strong></dt>
  <dd><%= @stage_order.tenki %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fes_date_id) %>:</strong></dt>
  <dd><%= @stage_order.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stage_first) %>:</strong></dt>
  <dd><%= @stage_order.kibou1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stage_second) %>:</strong></dt>
  <dd><%= @stage_order.kibou2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:use_time_interval) %>:</strong></dt>
  <dd><%= @stage_order.use_time_interval %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prepare_time_interval) %>:</strong></dt>
  <dd><%= @stage_order.prepare_time_interval %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cleanup_time_interval) %>:</strong></dt>
  <dd><%= @stage_order.cleanup_time_interval %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prepare_start_time) %>:</strong></dt>
  <dd><%= @stage_order.prepare_start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:performance_start_time) %>:</strong></dt>
  <dd><%= @stage_order.performance_start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:performance_end_time) %>:</strong></dt>
  <dd><%= @stage_order.performance_end_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cleanup_end_time) %>:</strong></dt>
  <dd><%= @stage_order.cleanup_end_time %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              stage_orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_stage_order_path(@stage_order), :class => 'btn btn-default' %>
